
/* #a82d49 */
 
nav{

    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 0;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;
     
}
.NavLogo{
    width: 70%;
}
nav #lastnav{
    border: 3px solid #a82d49;
    background-color: #a82d49;
    color: #fff !important;
    box-sizing: border-box;
    transition: .3s;
    max-width: 200px;
    text-align: center;
    
}
nav #lastnav:hover{
    background-color: #fff;
    color: #a82d49 !important;

}
nav a{
    color: #a82d49 !important ;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}