/* style secroll */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: #d75470b3;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #a82d49;
}
html, body {
    font-family: 'Poppins', sans-serif;
    
  }

 
.row{
    margin : 0px !important;
    
}
 
.numbers{
    background-color: #a82d49;
    width: 100%;
    max-width: 100%;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.numbers .col-md-3{
    margin: 12px 0;
}
.numbers h2{
    display: inline;
}
.numbers span{
    font-size: 30px;
}
.pride .container{
    background-color: #fff;
    padding: 55px ;
    margin: auto;
}
.pride  img{
    
    width: 100%;
    border-radius: 15px;
}
.pride  span{
    color:  #43121d;
    font-size: 30px;
    font-weight: bold;
     margin: 45px 10px;
     line-height: 50px;
    
    
}
.pride p{
  
    margin: 25px  10px;
    color: #777;
    width: 90%;
}
@media  screen and (  max-width:1000px){
    .pride  h2{
        font-size: 30px;
         margin: 30px 10px;
         line-height: 40px;
        
    }
    .pride  p{
        
        margin: 15px  10px;
        color: #777;
        width: 90%;
    }
}
.pride  button{
    background-color: #912b2b;
    color: #fff;
    width: 150px;
    height: 45px;
    margin-right: 15px;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s ;
    border: solid #912b2b;
    text-transform: capitalize;
    
}
.pride   button:hover{
    border: solid #912b2b;
    background-color: #fff;
    color: #912b2b;
}
.pride ul li{
    list-style: none;
}
.pride ul li i{
    font-size: 20px;
    color: #912b2b;
    margin:0 16px 0 0;
    
    
}
/* icon_top */
.icon_top{
    background-color: #991e38;
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: fixed;
    right: -100px;
    top: 550px;
    z-index: 100;
    border-radius: 3px;
    transition: .3s;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.icon_top:hover{
    background-color: #43121d;
   
}
 
.row_three{
    background: url("../img/1\ \(1\).jpg") center no-repeat;
    background-size: cover;
    height:auto;
    max-width: 100%;
    padding: 55px 0;
     
}
.row_three h2{
    color: #a82d49;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
     line-height: 50px;
     width: 70%;
     letter-spacing: 2px;
     margin: auto;
     font-family: 'Poppins', sans-serif;
    
}
.row_three p{
    font-family: 'Poppins', sans-serif;
        color: #777;
        width: 65%;
        text-align: center;
        margin: 16px auto ;

}
.row_three .link{
    display: block;
    color: #912b2b;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}
.row_three .link i{
    margin: 0 10px;
    font-size: 20px;
}

.row_Explore{
    padding:85px 0;
}
.row_Explore h2{
    text-align: center;
    margin: 10px;
}
.row_Explore p{
    color: #777;
    text-align: center;
    width: 70%;
    margin: auto;
}
.row_cards .card{
    border: none;

}
.row_cards .img_card{
    border-radius: 10px !important;
    max-height: 240px;
    object-fit: cover;
}
.row .descri_card{
    height: 78px;
    overflow: hidden;
}
.row_cards .btn_card{
    background-color: #a82d49 !important;
    color: #fff;
    width: 150px;
    height: 45px;
    margin-right: 15px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px !important;
    transition: .3s ;
    border: solid #a82d49 !important;
    text-transform: capitalize;
    border-radius: 0 !important;
    margin-top: 20px;
}
.row_cards .btn_card:hover{
    background-color: #fff !important;
    color: #a82d49 !important;
}
.title_card{
    margin: 0 !important;
}
.price_card{
    font-size: 23px;
    color: #a82d49;
    font-weight: 600;
}
.price_card span{
    color: #777;
    text-decoration: line-through;
}
/* testimonials */
.testimonials{
    width: 100%;
    height: 100vh;
    background-color: #a82d49;
    padding: 50px 10px;
    margin: 50px 0 0 0;
}
.testimonials h2{
    color: #fff;
    text-align: center;
}
.testimonials .Carousel{
    width: 1000px;
    height: 500px;
    margin: auto;
   
}
.testimonials  button{
    background-color: #ded8d8a3;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    margin: 3px;
    outline: none;
    transition: .2s;
}
.testimonials  button:hover{
    background-color: #fff;
    
}
 
.testimonials .item{
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 12px;
    padding: 20px;
    margin: 50px 0;
}
.testimonials img{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
     border-radius: 50%;
    
}
.testimonials p{
    color: #777;
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin: 30px auto  ;
}
.testimonials .author{
    display: block;
    font-size: 20px;
    color: #a82d49;
    text-align: center;
    text-transform: capitalize;
}
/* FAQ */

.faq{
    width: 100%;
    height: auto;  
    padding: 70px 10px;
 

}
.faq h2{
    text-align: center;
    color: #bd2f4e;
    margin: 20px 0px;
}
.faq .row{
    padding: 30px 0;
}
.faq .row div h3{
    font-size: 20px;
    margin-left: 10px;
}
.faq .row div h3 span{
    font-size: 30px;
    color: #931d39;
}
.faq .row div p{
    
    color: #777;
}
/* parallax */
.parallax{
    position: relative;
    background: url("../img/parallax.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 200px;
    max-height: auto;
}
.parallax h2{
    color: #ffffff;
    font-size: 30px;
}
.parallax .row{
    background-color: #7777777a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;


}
.parallax button,
.subscribe form button{
    background-color: #a82d49;
    color: #fff;
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s ;
    border: solid #a82d49;
    text-transform: capitalize;
}
.subscribe form button:hover,
.parallax button:hover{
    border: solid #a82d49;
    background-color: transparent;
    color: #a82d49;
}

/* subscribe */
.subscribe{
    width: 100%;
    height: auto;
    min-height: 450px;
    padding: 50px 0;
    margin: 50px 0 0 0;

}
.subscribe h2{
    color: #912b2b;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    width: 50%;
    margin: auto;
}
.subscribe p{
    color: #777;
    text-align: center;
    margin:15px 0;
}
.subscribe form{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}.subscribe form input{
    width: 50%;
    margin: 0 10px;
    height: 45px;
    border: #cfcccc 3px solid;
    outline: none;
    
}
.subscribe form button {
    width: 25%;

}
@media screen and (max-width:880px) {
    .subscribe h2{
        color: #912b2b;
        text-align: center;
        margin: 20px 0;
        font-size: 40px;
        width: 100%;
        margin: auto;
    }
     
    .subscribe form{
        display: flex;
       flex-direction: column;
        padding: 15px 0;
    }
    .subscribe form button ,
    .subscribe form input{
        width: 90%;
        margin: 5px 0;
    
    }
     
}

/*  */
    

.open_backgound{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #6e6b6b99;
    z-index: 500;
      
}
 
.formOrder{
    background-color: #fff;
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px;
    z-index: 800;
    position: fixed;
     top: 30px;
     transform: translate(50%);
      
    

}
.close{
    display: none;
}
 
.open{
    display: block;
}
.formOrder .icon_close{
    font-size: 20px;
    color: #bdbbbb;
    display: block;
    text-align: end;
    margin: 10px 0;
    cursor: pointer;
}
.formOrder h2{
    text-align: center;
    padding: 10px 0;
}
.formOrder .container div:first-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
}
.formOrder .container div:first-of-type input{
    border: 3px solid #e6e2e2;
    width: 40%;
    padding: 7px 0 8px 10px;
    margin: 10px;
    outline: none;
}
.formOrder .container input::placeholder{
    font-weight: 500;
}
.formOrder .container div:last-of-type{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formOrder .container div:last-of-type input,#select{
    border: 3px solid#e6e2e2;
    outline: none;
    width: 83%;
    padding: 7px 0 8px 10px;
    margin: 10px;
}
.btn_Order{
    background-color: #a82d49;
    color: #fff;
    margin: 15px 0;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .3s ;
    border: 3px solid #a82d49;
    text-transform: capitalize;
   width: 40%;
   padding: 10px 0;
}
.btn_Order i{
    margin: 0  6px;
}
.btn_Order:hover{
    border:  solid #a82d49;
    background-color: #fff;
    color:#a82d49;
}
@media screen and (max-width:850px) {
    .formOrder{
        width: 70%;
         transform: translate(25%);
    }
}
@media screen and (max-width:620px) {
    .formOrder{
        width: 80%;
         transform: translate(12%);
    }
}
@media screen and (max-width:540px) {
    .formOrder{
        width: 100%;
        height: 100vh;
         transform: translate(0%);
         position: fixed;
         top:0;
    
    }
    .formOrder h2{
        font-size: 20px;
        padding: 0px 0;
    }
    .formOrder .container div:first-of-type{
        display: flex;
        flex-direction: column;
    }
    .formOrder .container div:first-of-type input{
       
        width: 83%;
        margin: 6px ;
        padding: 4px 8px;
    }
    .formOrder .container div:last-of-type input{
        margin: 6px ;
        padding: 4px 8px;
    }
    .btn_Order{
        width: 60%;
        padding: 6px;
        margin: 0 0 10px 0;
        font-size: 16px;
    }
    
    
}

/*  */